body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #74ebd5, #9face6);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card */
.login-box {
    background: white;
    padding: 35px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Heading */
.login-box h2 {
    margin-bottom: 20px;
}

/* Inputs */
.login-box input,
.login-box select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Button */
.login-box button {
    width: 100%;
    padding: 12px;
    background: #4a7cf7;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover */
.login-box button:hover {
    background: #2f5fe3;
}

/* Link */
.link {
    margin-top: 15px;
    font-size: 14px;
}